html, body, #map {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

.ol-full-screen, .ol-zoom, .ol-rotate {
	top: 7.5em;
}

.ol-gisrec-channels {
	left: 0.5em;
	bottom: 0.5em;
}

.ol-gisrec-settings {
	left: 0.5em;
	bottom: 2.5em;
}

.modal.fade:not(.in).bottom .modal-dialog {
	transform: translate3d(0, 125%, 0);
}

.modal-dialog {
	margin-top: 110px;
}

.gisrec > a {
	color: #000;
}

.gisrec.inactive > a {
	opacity: 0.5;
}

.gisrec.inactive > a:hover {
	opacity: 0.8;
}

.gisrec.timeline {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	z-index: 500;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.95);
}
